/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    color: #fff;
    height: 100vh;
    width:98vw;
    line-height: 1.6;
}

/*page transitions*/



.gradient-text {
    background-image: linear-gradient(45deg, #e05c53,#e05c53, #e05c53, #f0883e,#edb93e, #badb58, #5fdb58, #58dbbd,#35a4e8, #be70fa, #ed45d1, #e05c53, #e05c53);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    background-size: 800%;
    background-position: 0%;

    animation: animatedText 60s infinite;
}

@keyframes animatedText {
    to {
        background-position: -100%;
    }
}

#background {
    background:
    linear-gradient(to bottom right, rgba(54, 50, 50, 1), rgba(54, 50, 50, 0.3)), 
    url("assets/first_pro.gif");
    background-repeat: no-repeat;

    background-size: 100% 100%;

    float: left;

    width: 100vw;
  }


#typing-text {
    font-family: Arial, sans-serif;
    font-size: 25px;
    white-space: pre-wrap;
    overflow: hidden;

    animation: typing 2s steps(40);
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* Container styles */
.item1 {
    grid-area: myArea;
}

.grid-container {
    display: grid;
    grid-template: 
    'myArea myArea myArea myArea myArea myArea'
    '. . . . . .';
    grid-gap: 10px;
    padding: 10px;
}

/*img styles*/
img {
    max-width: 20vw;
    max-height: 20vh;
    border-radius: 50%;
}

/* Heading styles */
h1, h2, h3 {
    margin-bottom: 10px;
}

/* Paragraph styles */
p {
    margin-bottom: 20px;
}

/* Link styles */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



/* Button styles */
.cssbuttons-io {
    position: relative;
    display: none;
    font-family: inherit;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.05em;
    border-radius: 0.8em;
    cursor: pointer;
    border: none;
    
    background: linear-gradient(45deg, #e05c53, #e05c53, #e05c53, #e05c53, #f0883e,#edb93e, #badb58, #5fdb58, #58dbbd,#35a4e8, #be70fa, #ed45d1, #e05c53);

    background-size: 1000%;
    background-position: 0%;

    animation: animatedText 10s infinite;
    color: ghostwhite;
    overflow: hidden;
}

@keyframes animatedText {
    to {
        background-position: -100%;
    };
  }
  
  .cssbuttons-io svg {
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.5em;
  }
  
  .cssbuttons-io span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
    padding: 0.8em 1.2em 0.8em 1.05em;
  }
  
  .cssbuttons-io::before,
  .cssbuttons-io::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  
  .cssbuttons-io::before {
    content: "";
    background: #000;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
  }
  
  .cssbuttons-io:hover::before {
    transform: translate3d(100%, 0, 0);
  }
  
  .cssbuttons-io:active {
    transform: scale(0.95);
  }
  
