/* Soft white background */
  .grid-box {
    background-color: #F3D0D7; /* Pastel pink */    
    padding: 20px;
    text-align: left;
    border-radius: 8px; /* Optional rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow */
    min-width: 40vw;
    min-height: 10vh;
    max-width: 40vw;
    max-height: 100vh;
    margin: 20px;
  }

  .grid-box-description {
    color: #694E4E;
    font-size: 16px;
  }

  .grid-box-title {
    color: #694E4E;
    font-weight: bold;
  }
  