header {
  max-width:100vw;  
  width: 99.1vw;
  font-size: 300%;
  color: #A87676;
  text-align: center;
  font-weight: bold;
}

section {
  width:100vw;
  background-color:#f0ebe3; /* Same background as the grid container */
  border-radius: 8px;
  text-align: center;
  margin: auto;
  max-width: 50vw;
  font-size: 110%;
  color: #A87676;
}

footer {
  background-color:#f0ebe3; /* Same background as the grid container */
  text-align: center;
  color: brown;
}